/* Timer */

.playButton {
    background-color: transparent;
    color: var(--mainBlack);
    border: 0;
    display: inline-block;
    width: 100px;
    font-size: 3.5rem;
  }
  .settings{
    width: auto;
    font-size: 1.6rem;
    border: 1px solid var(--mainBlack);
    border-radius: 7px;
    padding: 0 7px 7px 7px;
    line-height: 45px;
  }
  
  label {
    display: block;
    margin-botton: 10px;
    margin-top: 10px;
    text-transform: capitalize;
  }
  
  .slider{
    height: 40px;
    border: 2px solid var(--primaryColor);
    border-radius: 20px;
  }
  .thumb{
    background: var(--mainBlack);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
  .slider.green {
    border: 2px solid var(--primaryColor);
  }
  
/* end of Timer */